services:
  keuanganku-be:
    build: .
    container_name: keuanganku-be
    restart: always
    env_file: .env
    ports:
      - "3001:4000"
    networks:
      - e-daily-report-net

networks:
  e-daily-report-net:
    external: true
    name: e-daily-report_default
