services:
  keuanganku-be:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: keuanganku-be
    restart: always
    env_file:
      - .env
    ports:
      - "3001:3000"
    networks:
      - e-daily-network

networks:
  e-daily-network:
    external: true
    name: e-daily-report_default
